/* hero style */
/* .hero {
    background-image: url("../images/office-desk-6180921__480.webp");
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 10%; */

    /* .recipe-column {
        justify-content: center;
        

    }

    .cocktail-column {
        justify-content: center;
        
    }

    .step-info {
        flex: 2 30%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }

      .title {
          justify-content: center;
      } */

    /* .search-Btn {
        padding: 20px 35px;
  background-color: #0e8284;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
    } */